<!DOCTYPE html>
<html ng-app="myApp"> <!-- Ativa/Starta o ANGULAR -->
<head>
	<title>Sétima Aula</title>
	
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="vendor/angularjs/angular.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>
	<script type="text/javascript" src="js/controller/MeuController.js"></script>

</head>
<body ng-controller="MeuController">
	<div class="container">

		<!--Atalho para criar 

		table.table>(thead>tr>th*3)+(tbody>(tr>td*3)*3)

		-->
		<div class="row">

			<!-- Atalho para criar formulário 

			(.form-group>label+input)*3+button.btn.btn-sucess

			-->


			<form  ng-submit="enviaDados(pessoa)"> 

				<div class="row">
					<div class="col-xs-6">
						<h1>Cadastro de Contatos</h1>
						<div class="form-group">
							<label>ID</label>
							<input ng-click="clearMsg()" ng-model="pessoa.id" tabindex=1 class="form-control" type="number" placeholder="Insira o ID do vivente" required></input>
						</div>		
						<div class="form-group">
							<label>Nome</label>
							<input ng-click="clearMsg()"ng-model="pessoa.nome" tabindex=1 class="form-control" type="text" placeholder="Insira o nome do contato" required minlength="2" ></input>
						</div>		
						<div class="form-group">
							<label>Telefone</label>
							<input ng-click="clearMsg()"ng-model="pessoa.telefone" tabindex=2 class="form-control" type="number" minlength="8" placeholder="(XX) 9999-9999" required</input>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input ng-click="clearMsg()"ng-model="pessoa.email" tabindex=3 class="form-control" type="email"  placeholder="Insira um e-mail válido" required</input>
						</div>

					</div>
				</div>

				<div class="align-center">
					<button  tabindex=6 class="btn btn-success" type="submit">Enviar</button>
				</div>
				<br>
				<div class="clearfix"></div>
				<div ng-show="msgAlert" class="alert alert-danger">Cadastro invávido</h3>
			</form>
		</div>

		<br>
		<br>
		
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>E-Mail</th>	
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in dados">
					<td>{{item.id}}</td>
					<td>{{item.nome}}</td>
					<td>{{item.telefone}}</td>
					<td>{{item.email}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>